.monthly-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.monthly-content {
    flex: 1;
}

.monthly-task-title.task-completed {
  text-decoration: line-through;
  text-decoration-color: rgba(17, 17, 17, 0.45);
  text-decoration-thickness: 1px;
}